<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> CodeCLan / Cinema <%= @film %></h1>
    <img src="https://pbs.twimg.com/profile_images/1145602744239230976/5RLVeGo0_400x400.jpg" alt="CClogo">
  </body>
</html>
